.iqr_policy_wrap{position:relative;padding-bottom:45px;border-bottom:1px solid #ebebeb}
.iqr_tit{font-size:1.375em}
.iqr_policy{position:relative;margin:20px 0 10px;border:1px solid #ebebeb}
.iqr_policy > ol{padding:25px}
.iqr_policy > ol > li{margin-top:10px}
.iqr_policy > ol > li:first-child{margin-top:0}
.iqr_check > input, .iqr_check > label{display:block;float:left}
.iqr_check > label{margin-left:5px;font-size:0.875em;line-height:87.5%}

.iqr_info{margin-top:30px}
.iqr_dot{position:relative;margin-left:10px;padding-left:10px;font-size:0.65em}
.iqr_dot:before{content:'';position:absolute;left:0;top:40%;width:6px;height:5px;background:url('../img/inquiry_dot.png') no-repeat}
.iqr_dot > span{font-size:0}

.inquiry_table{width:100%;margin-top:20px;table-layout:fixed}
.inquiry_table .col1{width:20%}
.inquiry_table th, .inquiry_table td{padding:12px 0;border:1px solid #ebebeb}
.inquiry_table th{padding-left:40px;border-right:0;background-color:#f8f8f8;text-align:left}
.inquiry_table td{padding-left:20px;padding-right:20px;color:#666}
.inquiry_table th label, .inquiry_table th span{position:relative;font-size:1em;font-family:'NotoSansKR-Regular';color:#666}
.inquiry_table th label.required:before{content:'';position:absolute;left:-15px;top:6px;width:6px;height:5px;background:url('../img/inquiry_dot.png') no-repeat}
.inquiry_table input[type="text"], .inquiry_table input[type="password"], .inquiry_table select{width:200px;height:35px;padding:0 10px;border:1px solid #ebebeb;font-size:0.875em;line-height:35px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}
.inquiry_table .bridge, .inquiry_table .nbsp{display:inline-block;text-align:center}
.inquiry_table .bridge{width:16px}
.inquiry_table .nbsp{width:5px}
.inquiry_table .text{padding-left:2px;font-size:0.875em}
.inquiry_table textarea{width:100%;height:140px;padding:10px;border:1px solid #ebebeb;font-size:0.875em;line-height:160%;resize:none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}